@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 1

   Author: Reyes, Jedidiah G.
   Date: December 13, 2023
   
   Filename: code4-1.css

*/

body {
   width: 900px;
   margin: 20px auto;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
   font-size: 1.4em;
   padding-bottom: 30px;
}

cite {
   font-size: 0.8em;
   display: inline-block;
   margin-left: 20px;
}

figure {
  padding: 20px;
  border: 20px ridge rgb(52, 52, 180);
  background: url(ws.png) bottom right /45% no-repeat rgba(52, 52, 180, 0.3);
  box-shadow: 5px 10px 15px black;
}

figcaption {
  font-size: 1.8em;
  text-align: center;
  border-bottom: 2px solid rgb(52, 52, 180);
}